.logo-container {
    z-index: 0;
    min-width: 30%;

    width: 450px;
    height: 600px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: 30%;
    margin: auto;
    opacity: 0;
    //border: 1px solid white;

    svg{
        opacity: 1;
        width: 100%;
        height: 50%;
        bottom: 0;
        transform: rotateZ(0deg) !important;
    }

    .solid-logo{
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        transform: rotateZ(0deg);
        z-index: 1;

    }
}

.svg-container{
    stroke: #ffd700;
    stroke-width: 10px;
}
