:root {
    --speed: 0.25s;
}

button {
    cursor: pointer;
    position: relative;
    display: grid;
    height: 50px;
    width: 180px;
    border: 1px solid hsla(0, 0%, 100%, 0.115);
    border-radius: 100px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 3.5em;
    gap: 1.5em;
    font-family: 'Geist Sans', sans-serif;
    font-weight: 50;
    background: #ffd700;
    color: hsl(0, 0%, 100%);
    padding: 0.5em 0.5em 0.5em 1.5em;
    place-items: center;
    box-shadow: 0 1px inset hsla(0, 0%, 100%, 0.732),
        0 -10px 20px 10px hsla(0, 0%, 0%, 0.164) inset,
        0 10px 20px 10px hsla(0, 0%, 50%, 0.126) inset,
        0 1px hsla(60, 2%, 66%, 0.509);
    letter-spacing: 0.05ch;

    .backdrop {
        position: absolute;
        inset: 0.5em;

        .action {
            position: absolute;
            right: 0;
            height: 100%;
            background: linear-gradient(transparent 50%, hsl(0 0% 30% / 0.5)),
                hsl(0 0% 0%);
            box-shadow: 0 -1px inset hsl(0 0% 100% / 0.35);
            width: 3.5em;
            aspect-ratio: 1;
            transition: width var(--speed);
            border-radius: 100px;
        }
    }

    .text {
        display: inline-block;
        z-index: 2;
        padding: 0 0.5rem;
    }

    .icon {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 100%;
        overflow: hidden;

        color: hsl(0 0% 90%);
        display: grid;
        place-items: center;
        z-index: 2;

        svg {
            width: 50%;
            overflow: visible !important;
        }

        svg path:nth-of-type(1) {
            translate: 5rem 0;
            transform-box: fill-box;
            transition: translate var(--speed);
            opacity: 0.75;
        }

        svg path:nth-of-type(2) {
            transform-box: fill-box;
            transform-origin: 50% 50%;
            transition: fill var(--speed), rotate var(--speed),
                scale var(--speed), translate var(--speed);
        }
    }
}

button:focus-visible {
    outline-offset: 0.5em;
    outline-color: hsl(280 80% 80% / 0.5);
}

button:is(:hover, :focus-visible) svg path:nth-of-type(2) {
    translate: 0 -50%;
    rotate: 290deg;
    scale: 0.65;
    fill: #ffd700;
    stroke: black;
    transition-timing-function: ease, ease, cubic-bezier(0.2, 0.7, 0.9, 1.5);
}

button:is(:hover, :focus-visible) svg path:nth-of-type(1) {
    translate: 0 0;
}

button:is(:hover, :focus-visible) .action {
    width: 100%;
}
