.stage-cube-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    .cubespinner {
        animation-name: spincube;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 10s;
        transform-style: preserve-3d;

        position: relative;
        // -webkit-transform: translate3d(0, 0, 0);
        // -webkit-transform: translateZ(0);
        margin-top: -200px;
        left:-100px;
        transform-origin: 100px 100px 0;
        .center{
            display: none;
        }
        div {
            position: absolute;
            height: 200px;
            width: 200px;
            border: 1px solid #ccc;
            background: rgba(255, 255, 255, 0.4);
            font-size: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            //box-shadow: 0 0 20px 0px lightyellow;
        //     -webkit-transform: translate3d(0, 0, 0);
        // -webkit-transform: translateZ(0);
        // transform-style: preserve-3d;

        }

        .face1 {
            transform: translateZ(100px);
        }
        .face2 {
            transform: rotateY(90deg) translateZ(100px);
        }
        .face3 {
            transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
        }
        .face4 {
            transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
        }
        .face5 {
            transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
        }
        .face6 {
            transform: rotateX(-90deg) translateZ(100px);
        }
    }

    @keyframes spincube {
        from,
        to {
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
        16% {
            transform: rotateY(-90deg);
        }
        33% {
            transform: rotateY(-180deg) rotateZ(90deg);
        }
        50% {
            transform: rotateY(-90deg) rotateZ(90deg);
        }
        66% {
            transform: rotateY(-270deg) rotateX(90deg);
        }
        83% {
            transform: rotateX(90deg);
        }
    }
}
@media screen and (max-width: 1400px) {
    .stage-cube-cont {
        .cubespinner {

            margin-top: -180px;
            left:-90px;
            transform-origin: 90px 90px 0;

            div {
                height: 180px;
                width: 180px;
                font-size: 90px;

            }

            .face1 {
                transform: translateZ(90px);
            }
            .face2 {
                transform: rotateY(90deg) translateZ(90px);
            }
            .face3 {
                transform: rotateY(90deg) rotateX(90deg) translateZ(90px);
            }
            .face4 {
                transform: rotateY(180deg) rotateZ(90deg) translateZ(90px);
            }
            .face5 {
                transform: rotateY(-90deg) rotateZ(90deg) translateZ(90px);
            }
            .face6 {
                transform: rotateX(-90deg) translateZ(90px);
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .stage-cube-cont {
        .cubespinner {
            margin-top: -130px;
            left:-65px;
            transform-origin: 65px 65px 0;

            div {
                height: 130px;
                width: 130px;
                font-size: 70px;
            }

            .face1 {
                transform: translateZ(65px);
            }
            .face2 {
                transform: rotateY(90deg) translateZ(65px);
            }
            .face3 {
                transform: rotateY(90deg) rotateX(90deg) translateZ(65px);
            }
            .face4 {
                transform: rotateY(180deg) rotateZ(90deg) translateZ(65px);
            }
            .face5 {
                transform: rotateY(-90deg) rotateZ(90deg) translateZ(65px);
            }
            .face6 {
                transform: rotateX(-90deg) translateZ(65px);
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .stage-cube-cont {
        .cubespinner {
            margin-top: -100px;
            left:-50px;
            transform-origin: 50px 50px 0;

            div {
                height: 100px;
                width: 100px;
                font-size: 55px;
            
            }

            .face1 {
                transform: translateZ(50px);
            }
            .face2 {
                transform: rotateY(90deg) translateZ(50px);
            }
            .face3 {
                transform: rotateY(90deg) rotateX(90deg) translateZ(50px);
            }
            .face4 {
                transform: rotateY(180deg) rotateZ(90deg) translateZ(50px);
            }
            .face5 {
                transform: rotateY(-90deg) rotateZ(90deg) translateZ(50px);
            }
            .face6 {
                transform: rotateX(-90deg) translateZ(50px);
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .stage-cube-cont {
        .cubespinner {
            margin-top: -80px;
            left:-40px;
            transform-origin: 40px 40px 0;

            div {
                height: 80px;
                width: 80px;
                font-size: 40px;
            }

            .face1 {
                transform: translateZ(40px);
            }
            .face2 {
                transform: rotateY(90deg) translateZ(40px);
            }
            .face3 {
                transform: rotateY(90deg) rotateX(90deg) translateZ(40px);
            }
            .face4 {
                transform: rotateY(180deg) rotateZ(90deg) translateZ(40px);
            }
            .face5 {
                transform: rotateY(-90deg) rotateZ(90deg) translateZ(40px);
            }
            .face6 {
                transform: rotateX(-90deg) translateZ(40px);
            }
        }
    }
}
