html {
  font-size: 62.5%;

}


body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue';
  color: #444;
  background: #022c43;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color: #16445d ;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #ffd700;
}
